{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <div class="container-fluid form-special">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h4 class="font-weight-normal">Log In</h4>
                        <hr>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-warning" type="submit">Log In</button>
                    </div>
                </form>
                <div class="boarder-top pt-3">
                    <small class="text-muted">
                        <a style="color: #f8b119c7; " href="">
                            Reset Password ?
                        </a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}