<div class="container">
    <br>
    <h1 style="text-align: center">Welcome !</h1>
    <h2 style="text-align: center">Searh On <strong>Craigslist</strong></h2>
    <br/>
    <div class="row">
        <div class="col-xl-4 text-center">
            <!-- Promo Content 1 goes here -->
            <i class="fas fa-space-shuttle" style="font-size: 100px; color: rgb(143, 57, 255)"></i>
            <h5>Fast And Easy</h5>
            <p class="light center">Scraping Craigslist.</p>
        </div>
    
        <div class="col-xl-4 text-center">
            <!-- Promo Content 2 goes here -->
            <i class="fab fa-canadian-maple-leaf" style="font-size: 100px; color: rgb(155, 42, 13)"></i>
            <h5>Accable In Toronto</h5>
            <p class="light center">Search For Anything In GTA.</p>
        </div>
    
        <div class="col-xl-4 text-center">
            <!-- Promo Content 3 goes here -->
            <i class="far fa-laugh-beam" style="font-size: 100px; color: rgb(83, 146, 41)"></i>
            <h5>Good Looking</h5>
            <p class="light center">Simply Beautiful.</p>
        </div>
    </div>

    <form action="{% url 'search-url' %}" method="post" style="text-align: center">{% csrf_token %}
        <br />
        <input class="form-control" size="75%" type="text" placeholder="Search" name="q" style="text-align: center">
        <br>
        <button type="submit" class="btn btn-primary" style="float: left;">
            search<i class="fas fa-search" style="margin-left: 10px;"></i>
        </button>
    </form>

</div>